<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.patchwhisperer</string>
    <key>ProgramArguments</key>
    <array>
        <string>__UV__</string>
        <string>run</string>
        <string>pw</string>
        <string>bot</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__REPO__</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__LOGS__/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__LOGS__/stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
